body {
    background-color: black;
}

img {
    height: 300px;
    border: 5px solid white;
    border-radius: 50px;
}

footer p{
    color: rgb(255, 232, 28);
}

h1{
    font-family: 'Segue UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 232, 28);
    font-size: large;
    padding: 100px;
}