body {
    background-color: black;
    background-image: ur1("batman-red-5120x2880-19038.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    height: 300px;
    border: 5px solid white;
    border-radius: 50px;
}

footer p{
    color: rgb(255, 232, 28);
}

h1{
    font-family: 'Segue UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 232, 28);
    font-size: large;
    padding: 100px;
}